/* Checkout Section */

.checkout-wrapper {
    width: 60%;
    margin: auto;
    text-align: center;
    border:2px dotted rgb(37, 36, 36);
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
  .stripe-section {
    margin-top: 2rem;
  }